## 가설4
- 자전거 도로가 가장 많은 구의 따릉이 사용량이 서울시에서 가장 높을 것이다.    - 
<자전거 도로가 2024년 기준 가장 많은 구의 케이스>

---
1) 서울특별시 공공자전거 대여소별 이용정보(월별)
 - 자전거도로 - 자치구명, 전용도로, 전용차로, 겸용도로(분리형)
2) 서울시 자전거 이용시설 통계(2023.12)
 - 자치구, 대여건수

1. "자치구별"  자전거도로 합계를 구한다
2. "자치구별" 대여건수의 합계를 구한다
3. "자전거도로 합계" 와 "대여건수 합계"의 상관관계를 분석

In [2]:
import pandas as pd

In [4]:
# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
# 사용자 정의함수 불러오기

import time

import ExcelFile_Merge as em
import ExcelFile_Read as er
import ExcelFile_EDA as ee

In [6]:
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2021'
path = filepath + filename + '.csv'
dtype={'성별': 'object',
       '운동량': 'object',
       '탄소량': 'object',
       '이용건수': 'object'}
df_dask = er.Read_dask(path, dtype)

In [16]:
df_dask.isnull().sum()

Dask Series Structure:
npartitions=1
대여구분코드    int64
탄소량         ...
Dask Name: sum, 4 expressions
Expr=(~ NotNull(frame=ReadCSV(c49933f))).sum()

In [8]:
from dask.diagnostics import ProgressBar
from time import sleep
pbar = ProgressBar()
pbar.register()

start_time = time.time()
df_rtn1 = df_dask.compute()
print("compute time :", time.time() - start_time)

[########################################] | 100% Completed | 47.50 s
compute time : 47.9664192199707

In [18]:
df_rtn1.info(verbose=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 39993704 entries, 0 to 669546
Columns: 12 entries, 대여일자 to 이용시간(분)
dtypes: float64(2), int64(2), object(8)
memory usage: 20.3 GB

In [24]:
from dask.diagnostics import ProgressBar
from time import sleep
pbar = ProgressBar()
pbar.register()

filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2022'
path = filepath + filename + '.csv'

start_time = time.time()
dtype={'성별': 'object',
       '운동량': 'object',
       '탄소량': 'object',
       '이용건수': 'object'}
df_rtn = er.Read_dask(path, dtype)
print("Read_dask time :", time.time() - start_time)

start_time = time.time()
df_rtn = df_rtn.compute()
print("compute time :", time.time() - start_time)

start_time = time.time()
df_rtn.to_parquet(filepath + filename + '.parquet', index=False)
print("to_parquet time :", time.time() - start_time)

Read_dask time : 0.10893464088439941
[########################################] | 100% Completed | 45.48 s
[########################################] | 100% Completed | 45.57 s
[########################################] | 100% Completed | 45.58 s
compute time : 45.59921956062317
to_parquet time : 37.38179683685303

In [36]:
start_time = time.time()
df_rtn.to_parquet(filepath + filename + '_gzip' + '.parquet', index=False, compression='gzip')
print("to_parquet time :", time.time() - start_time)

to_parquet time : 83.81193232536316

In [26]:
df_rtn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36160476 entries, 0 to 695755
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     object
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 3.5+ GB

In [28]:
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2022'
df_parquet = pd.read_parquet(filepath + filename + '.parquet')
print("read_parquet time :", time.time() - start_time)

In [30]:
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36160476 entries, 0 to 36160475
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     object
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 3.2+ GB

In [32]:
start_time = time.time()
_columns = ['대여일자', '대여시간', '이용건수']
df_parquet2 = pd.read_parquet(filepath + filename + '.parquet', columns=_columns)
print("read_parquet time :", time.time() - start_time)

In [34]:
df_parquet2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36160476 entries, 0 to 36160475
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   대여일자    object
 1   대여시간    int64
 2   이용건수    object
dtypes: int64(1), object(2)
memory usage: 827.6+ MB

In [40]:
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2022'
df_parquet_gzip = pd.read_parquet(filepath + filename + '_gzip' + '.parquet')
print("read_parquet time :", time.time() - start_time)

read_parquet time : 15.90344500541687

In [42]:
df_parquet_gzip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36160476 entries, 0 to 36160475
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   대여일자     object
 1   대여시간     int64
 2   대여소번호    int64
 3   대여소명     object
 4   대여구분코드   object
 5   성별       object
 6   연령대코드    object
 7   이용건수     object
 8   운동량      object
 9   탄소량      object
 10  이동거리(M)  float64
 11  이용시간(분)  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 3.2+ GB

In [46]:
start_time = time.time()
df_parquet_gzip.groupby('대여일자')['이용건수'].sum()
print("check time :", time.time() - start_time)

check time : 63.23096060752869

In [48]:
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2022'
_columns = ['대여일자', '이용건수']
df_parquet_gzip = pd.read_parquet(filepath + filename + '_gzip' + '.parquet', columns = _columns)
print("read_parquet time :", time.time() - start_time)

read_parquet time : 3.2908482551574707

In [50]:
start_time = time.time()
df_grp = df_parquet_gzip.groupby('대여일자')['이용건수'].sum()
print("check time :", time.time() - start_time)

check time : 61.89773893356323

In [56]:
df_grp.sort_values(by = '이용건수')

TypeError: Series.sort_values() got an unexpected keyword argument 'by'

In [58]:
df_grp.info()

<class 'pandas.core.series.Series'>
Index: 365 entries, 2022-01-01 to 2022-12-31
Series name: 이용건수
Non-Null Count  Dtype
--------------  -----
365 non-null    object
dtypes: object(1)
memory usage: 13.8+ KB

In [44]:
df_parquet_gzip['대여일자'].value_counts()

대여일자
2022-09-30    165169
2022-09-28    162926
2022-09-21    162680
2022-09-20    162494
2022-09-27    161545
               ...
2022-02-01     13759
2022-10-03     10411
2022-06-30      8511
2022-09-05      5094
2022-08-09       477
Name: count, Length: 365, dtype: int64

In [10]:
df_rtn1.head()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-01-01,0,433,433. 을지로입구역 2번출구,정기권,NaN,~10대,1.0,44.24,0.42,1831.45,8.0
1,2023-01-01,0,2032,2032. 이수역 11번출구쪽,정기권,NaN,~10대,1.0,7.11,0.06,276.06,4.0
2,2023-01-01,0,744,744. 신목동역 2번 출구,정기권,NaN,20대,1.0,25.05,0.24,1020.46,7.0
3,2023-01-01,0,1029,1029. 성내어울터,정기권,NaN,20대,1.0,34.05,0.20,859.74,4.0
4,2023-01-01,0,1153,"1153. 발산역 1번, 9번 인근 대여소",정기권,NaN,20대,2.0,141.49,1.31,5675.10,78.0

In [38]:
from dask.diagnostics import ProgressBar
from time import sleep
pbar = ProgressBar()
pbar.register()

start_time = time.time()
df_rtn2 = df_rtn.compute()
print("compute time :", time.time() - start_time)

[########################################] | 100% Completed | 150.82 s
[########################################] | 100% Completed | 150.85 s
[########################################] | 100% Completed | 150.87 s
compute time : 150.90784430503845

### 서울생활이동

In [7]:
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울 생활이동\\2020\\'
filename = '생활이동_행정동_2020.01'
path = filepath + filename + '.csv'
df_rtn = er.Read_dask(path)

In [ ]:
df_rtn = df_rtn.compute()

In [ ]:
df_rtn.head()

In [7]:
df_rtn = er.Read_dask(path)
df_rtn = df_rtn.compute()
df_rtn.to_parquet(filepath + 'parquet\\' + filename + '.parquet', index=False)

In [9]:
_columns = ['요일','이동인구(합)']
df_parquet = pd.read_parquet(filepath + 'parquet\\' + filename + '.parquet', columns=_columns)

In [10]:
df_parquet.head()

  요일 이동인구(합)
0  일    5.93
1  일       *
2  일       *
3  일    3.44
4  일     3.1

In [13]:
df_parquet.count()

요일         130620476
이동인구(합)    130620476
dtype: int64

In [26]:
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130620476 entries, 0 to 130620475
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   대상연월         int64
 1   요일           object
 2   도착시간         int64
 3   출발 행정동 코드    int64
 4   도착 행정동 코드    int64
 5   성별           object
 6   나이           int64
 7   이동유형         object
 8   평균 이동 시간(분)  int64
 9   이동인구(합)      object
dtypes: int64(6), object(4)
memory usage: 9.7+ GB

In [28]:
df_parquet.isnull().sum()

대상연월           0
요일             0
도착시간           0
출발 행정동 코드      0
도착 행정동 코드      0
성별             0
나이             0
이동유형           0
평균 이동 시간(분)    0
이동인구(합)        0
dtype: int64

In [30]:
df_parquet['대상연월'].unique()
df_parquet['요일'].unique()
df_parquet['도착시간'].unique()
df_parquet['출발 행정동 코드'].unique()
df_parquet['도착 행정동 코드'].unique()
df_parquet['성별'].unique()
df_parquet['나이'].unique()
df_parquet['이동유형'].unique()
df_parquet['평균 이동 시간(분)'].unique()
df_parquet['이동인구(합)'].unique()

array([202001], dtype=int64)

In [ ]:
df_parquet.groupby('요일')['이동인구(합)'].sum()

In [58]:
df_parquet['이동유형'].value_counts()

이동유형
EH    29027211
HE    26727404
EE    22857768
WH    16154567
HW    14779427
WE     9287776
EW     6496396
WW     2798070
HH     2491857
Name: count, dtype: int64

In [18]:
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울 생활이동\\2020\\'
filename = 'tpss_bcycl_od_statnhm_2021'
path = filepath + filename + '.csv'

In [20]:
er.Read_nrows(path, 5, 'utf-8')

      기준_날짜  집계_기준  기준_시간대 시작_대여소_ID 종료_대여소_ID  전체_건수  전체_이용_분  전체_이용_거리
0  20210101    NaN       0    ST-461   ST-1482      1        9   1549.75
1  20210101    NaN       0   ST-2309   ST-1661      1       20      0.00
2  20210101    NaN       0   ST-1062   ST-1647      1        7      0.00
3  20210101    NaN       0    ST-402    ST-597      2       62   7122.56
4  20210101    NaN       0    ST-386   ST-2331      1       13   2244.83

In [22]:
df_rtn = er.Read_dask(path)

In [24]:
df_rtn.head()

      기준_날짜  집계_기준  기준_시간대 시작_대여소_ID 종료_대여소_ID  전체_건수  전체_이용_분  전체_이용_거리
0  20210101    NaN       0    ST-461   ST-1482      1        9   1549.75
1  20210101    NaN       0   ST-2309   ST-1661      1       20      0.00
2  20210101    NaN       0   ST-1062   ST-1647      1        7      0.00
3  20210101    NaN       0    ST-402    ST-597      2       62   7122.56
4  20210101    NaN       0    ST-386   ST-2331      1       13   2244.83

C:\Users\user\anaconda3\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

In [14]:
import gc
del df_rtn
gc.collect()

5132

In [22]:
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울시 따릉이 대여소별 대여 반납 승객수 정보\\'
filename = 'tpss_bcycl_od_statnhm_2024'
path = filepath + filename + '.csv'

df_rtn = er.Read_dask(path)
df_rtn = df_rtn.compute()
df_rtn.to_parquet(filepath + 'parquet\\' + filename + '.parquet', index=False)

### parquet 자료형 저장

In [32]:
df_rtn.to_parquet(filepath + 'parquet\\' + filename + '.parquet', index=False)

In [ ]:
df_rtn.to_parquet(r'C:\Users\user\Desktop\나따릉이/생활이동21.12.parquet', index=False)
df_rtn.to_parquet(r'C:\Users\user\Desktop\나따릉이/생활이동21.12-gzip.parquet', index=False, compression = 'gzip')

In [16]:
filepath + 'parquet\\' + filename + '.parquet'

'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울시 따릉이 대여소별 대여 반납 승객수 정보\\parquet\\tpss_bcycl_od_statnhm_2023.parquet'

### parquet 자료형 읽기

In [18]:
df_parquet = pd.read_parquet(filepath + 'parquet\\' + filename + '.parquet')

In [20]:
df_parquet.head()

      기준_날짜 집계_기준  기준_시간대 시작_대여소_ID 종료_대여소_ID  전체_건수  전체_이용_분  전체_이용_거리
0  20230602  출발시간       0   ST-1305   ST-1305      1        0         0
1  20230602  출발시간       0   ST-1449   ST-1449      1        0         0
2  20230602  출발시간       0   ST-1923   ST-1923      1        0         0
3  20230602  출발시간       0   ST-2285   ST-2285      1        0         0
4  20230602  출발시간       0   ST-2294   ST-2294      1        0         0