In [4]:
import time
import pandas as  pd

start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울특별시 공공자전거 대여소별 이용정보(시간대별)\\'
filename = '시간대별_2021'
df_parquet = pd.read_parquet(filepath + filename + '.parquet')
print("read_parquet time :", time.time() - start_time)

read_parquet time : 9.577706575393677

In [6]:
df_parquet.head()

         대여일자  대여시간  대여소번호                     대여소명 이용건수  이동거리(M)  이용시간(분)
0  2021-01-01     0   1347  1347. 길음래미안아파트817동 상가 앞    2   992.78     13.0
1  2021-01-01     0   1349       1349. 월계2교 버스정류장 앞    1  1127.50     10.0
2  2021-01-01     0   1168        1168. 마곡엠밸리10단지 앞    1     0.00      7.0
3  2021-01-01     0   2619         2619. 석촌고분역 4번출구    1  1658.34     14.0
4  2021-01-01     0    536          536. 행당역 2번출구 앞    1   743.88      5.0

In [12]:
df_parquet.count()

대여일자       25421803
대여시간       25421803
대여소번호      25421803
대여소명       25421803
이용건수       25421803
이동거리(M)    25421789
이용시간(분)    25421727
dtype: int64

In [14]:
df_parquet.isnull().sum()

대여일자        0
대여시간        0
대여소번호       0
대여소명        0
이용건수        0
이동거리(M)    14
이용시간(분)    76
dtype: int64

In [18]:
df = df_parquet.drop(df_parquet.index[89690])
df.count()

대여일자       25421802
대여시간       25421802
대여소번호      25421802
대여소명       25421802
이용건수       25421802
이동거리(M)    25421788
이용시간(분)    25421726
dtype: int64

In [32]:
df2 = df_parquet.drop(df_parquet[df_parquet['이용건수'] == '\\N'].index, axis=0)

In [40]:
df2.shape[0]

25421802