### 라이브러리 임포트

In [2]:
import os
import pandas as pd

### 기본경로 설정

In [4]:
path_dateset = 'G:/내 드라이브/DataSet/'

### 확장자 가져오기 (Ex) .csv, .xlsx

In [8]:
def extract_extension(file_path):
    _, file_extension = os.path.splitext(file_path)
    return file_extension

In [10]:
extract_extension('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별)_2406.csv')

'.csv'

### 파일명 가져오기

In [13]:
def extract_filename(file_path):
    file_name = os.path.basename(file_path)
    filename_without_extension, _ = os.path.splitext(file_name)
    return filename_without_extension

In [15]:
extract_filename('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별)_2406.csv')

'서울특별시 공공자전거 이용정보(일별)_2406'

### 파일 읽기

In [18]:
def read_file(file_path):
    extension = extract_extension(file_path)
   
    if ".xlsx" == extension:
        return pd.read_excel(file_path)
    if ".csv" == extension:
        try:
            return pd.read_csv(file_path, encoding='utf-8')
        except BaseException as e:
            return pd.read_csv(file_path, encoding='cp949')

In [20]:
def read2_file(file_path):
    try:
        extension = extract_extension(file_path)
        if ".xlsx" == extension:
            return pd.read_excel(file_path)
        if ".csv" == extension:
            return pd.read_csv(file_path, encoding='cp949')
            #return pd.read_csv(file_path, encoding='utf-8')
    except BaseException as e:
        print(e)
        #return None

### 특정 폴더의 csx, xlsx 파일들 확인

In [23]:
def check_file(path_dateset, path_sub):
    path = path_dateset + path_sub
    
    #파일 경로명 변경
    file_list = os.listdir(path)
    file_lists = [file for file in file_list if file.endswith((".csv", ".xlsx"))]
    excel = pd.DataFrame()
    
    print('path : ', path)
    
    for _, file in enumerate(file_lists):
        try:
            df = read_file(path + file)
                
            print('==============================================================')
            print(extract_extension(file) + ', ' + file + ', ' + str(len(df)))
            print(list(df.columns))
            print(list(df.iloc[1]))
        except:
            print('- Err : ', file)

### 특정 폴더의 csx, xlsx 파일들 합치기

In [26]:
def merge_file(path_dateset, path_sub, new_filename, columns = ""):
    path = path_dateset + path_sub
    
    #파일 경로명 변경
    file_list = os.listdir(path)
    file_lists = [file for file in file_list if file.endswith((".csv", ".xlsx"))]
    excel = pd.DataFrame()
    
    print('path : ', path)
    
    for i, file in enumerate(file_lists):
        df = read_file(path + file)
        
        if (i > 0):
            df = df.iloc[1:][columns]
        else:
            df = df[columns]

        # excel = excel.append(df , ignore_index=True) #파일 하나에 다른 파일 추가하기(파일 합치기)
        excel = pd.concat([excel, df], ignore_index=True)        
        
        print('==============================================================')
        print(extract_extension(file) + ', ' + file + ', ' + str(len(df)))
        print(list(df.columns))

    # excel.to_csv(path+'merge.csv',index=False,encoding='euc-kr')
    excel.to_csv(path + new_filename + '.csv', index=False, encoding='cp949')

In [28]:
# new_filename = '저장파일이름'
# columns = '저장할 컬럼 리스트
def merge2_file(path_dateset, path_sub, new_filename = 'merge', columns = ""):
    path = path_dateset + path_sub
    
    #파일 경로명 변경
    file_list = os.listdir(path)
    file_lists = [file for file in file_list if file.endswith((".csv", ".xlsx"))]
    excel = pd.DataFrame()
    
    print('path : ', path)
    
    for i, file in enumerate(file_lists):
        df = read_file(path + file)
        
        if (i > 0):
            if columns == "":
                df = df.iloc[1:]
            else:
                df = df.iloc[1:][columns]
        else:
            if columns == "":
                df = df
            else:
                df = df[columns]

        # excel = excel.append(df , ignore_index=True) #파일 하나에 다른 파일 추가하기(파일 합치기)
        excel = pd.concat([excel, df], ignore_index=True)
        
        print('==============================================================')
        print(extract_extension(file) + ', ' + file + ', ' + str(len(df)))
        print(list(df.columns))

    # excel.to_csv(path+'merge.csv',index=False,encoding='euc-kr')
    # excel.to_csv(path + new_filename + '.csv', index=False, encoding='cp949')
    excel.to_csv(path + new_filename + '.csv', index=False, encoding='utf-8')

### 서울특별시 공공자전거 이용정보(일별)

In [ ]:
path_sub = '서울특별시 공공자전거 이용정보(일별)/'
check_file(path_dateset, path_sub)

In [ ]:
columns = ['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
merge_file(path_dateset, path_sub)

### 서울시 따릉이 대여소별 대여 반납 승객수 정보

#### tpss_bcycl_od_statnhm_202304

In [ ]:
path_sub = '서울시 따릉이 대여소별 대여 반납 승객수 정보/tpss_bcycl_od_statnhm_202304/'
check_file(path_dateset, path_sub)

### 서울특별시 공공자전거 이용정보(월별)

#### 2020 ~ 2024
- 2020 o
- 2021 o
- 2022 o
- 2023

In [93]:
path_sub = '서울특별시 공공자전거 이용정보(월별)/2023/'
check_file(path_dateset, path_sub)

path :  G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(월별)/2023/
==============================================================
.csv, 서울특별시_공공자전거_이용정보(월별)_23.7-12.csv, 624320
['대여년월', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이용거리(M)', '이용시간(분)']
[202307, 102, '102. 망원역 1번출구 앞', '일일권', nan, '30대', 40, '2888.06', '24.84', 107055.57, 1407]
==============================================================
.csv, 서울특별시 공공자전거 이용정보(월별)_23.1-6.csv, 622066
['대여년월', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이용거리(M)', '이용시간(분)']
[202301, 102, '102. 망원역 1번출구 앞', '일일권', nan, '20대', 28, '2406.34', '20.15', 86930.75, 583]

In [95]:
merge2_file(path_dateset, path_sub, '서울특별시 공공자전거 이용정보(월별)_2023', '')

path :  G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(월별)/2023/
==============================================================
.csv, 서울특별시_공공자전거_이용정보(월별)_23.7-12.csv, 624320
['대여년월', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이용거리(M)', '이용시간(분)']
==============================================================
.csv, 서울특별시 공공자전거 이용정보(월별)_23.1-6.csv, 622065
['대여년월', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이용거리(M)', '이용시간(분)']

In [99]:
rf = pd.read_csv('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(월별)/2023/서울특별시 공공자전거 이용정보(월별)_2023.csv', encoding='utf-8', engine = 'python')
rf.head()

,대여년월,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이용거리(M),이용시간(분)
0,202307,102,102. 망원역 1번출구 앞,일일권,NaN,20대,166,13506.22,121.1,522132.41,5076
1,202307,102,102. 망원역 1번출구 앞,일일권,NaN,30대,40,2888.06,24.84,107055.57,1407
2,202307,102,102. 망원역 1번출구 앞,일일권,NaN,40대,13,752.19,6.75,29146.67,252
3,202307,102,102. 망원역 1번출구 앞,일일권,NaN,50대,4,261.72,2.05,8850.00,80
4,202307,102,102. 망원역 1번출구 앞,일일권,NaN,~10대,5,461.54,4.02,17341.38,150

### 서울특별시 공공자전거 대여소별 이용정보(시간대별)

#### 2020 ~ 2024
- 2020 o
- 2021 UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb4 in position 0: invalid start byte
- 2022 o
- 2023 UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb4 in position 0: invalid start byte
- 2024 o

In [ ]:
path_sub = '서울특별시 공공자전거 대여소별 이용정보(시간대별)/2021/'
check_file(path_dateset, path_sub)

In [ ]:
merge2_file(path_dateset, path_sub, '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2021', '')

In [ ]:
file_path = 'G:/내 드라이브/DataSet/서울특별시 공공자전거 대여소별 이용정보(시간대별)/2021/서울특별시 공공자전거 이용정보(시간대별)_21.03.csv'
#pd1 = pd.read_csv(file_path, engine="python")
pd1 = pd.read_csv(file_path, encoding='cp949')
#pd1 = pd.read_csv(file_path, encoding='Windows-1254')
#pd2 = pd.read_csv(file_path, encoding='utf-8' )
#pd2 = pd.read_csv(file_path, encoding='utf-16-le' )

#pd3 = pd.read_csv(file_path, encoding='euc-kr')
#pd4 = pd.read_csv(file_path, encoding='utf-16', engine = 'python' )

In [ ]:
pd1.head()

In [ ]:
pd1.count()

### 서울특별시 공공자전거 이용정보(일별)

In [ ]:
path_sub = '서울특별시 공공자전거 이용정보(일별)/'
check_file(path_dateset, path_sub)

In [ ]:
merge2_file(path_dateset, path_sub, '서울특별시 공공자전거 이용정보(일별)', '')

In [ ]:
rf = pd.read_csv('G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별).csv', encoding='cp949', engine = 'python')
rf.head()

### 역별 일별 시간대별 승하차인원

In [ ]:
path_sub = '역별 일별 시간대별 승하차인원/'
check_file(path_dateset, path_sub)

In [ ]:
merge2_file(path_dateset, path_sub, '역별 일별 시간대별 승하차인원', '')

### 생활이동_행정동_202312

In [ ]:
path_sub = '서울 생활이동/2024/2409/'
check_file(path_dateset, path_sub)

In [ ]:
merge2_file(path_dateset, path_sub, '서울 생활이동_2024_2409', '')

### path_sub = '서울 생활이동/2022/생활이동_행정동_202201/'

In [ ]:
path_sub = '서울 생활이동/2022/생활이동_행정동_202201/'
check_file(path_dateset, path_sub)

In [62]:
merge2_file(path_dateset, path_sub, '생활이동_행정동_2022.01', '')

### path_sub = '서울특별시 공공자전거 대여소별 이용정보(월별)/'

In [ ]:
path_sub = '서울특별시 공공자전거 대여소별 이용정보(월별)/'
check_file(path_dateset, path_sub)

In [ ]:
merge2_file(path_dateset, path_sub, '서울특별시 공공자전거 대여소별 이용정보(월별)', '')

### 생활이동_반복처리

In [30]:
# 생활이동 데이터 배치
# year = '2020'
year = '2023'
# months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
months = ['12']

for month in months:
    path_sub = '서울 생활이동/' + year + '/생활이동_행정동_' + year + month + '/'
    try:
        print(path_sub)
        print('서울 생활이동_' + year + '.' + month)
        
        merge2_file(path_dateset, path_sub, '서울 생활이동_' + year + '.' + month, '')
    except:
        print('Err : ', path_sub)

서울 생활이동/2023/생활이동_행정동_202312/
서울 생활이동_2023.12
path :  G:/내 드라이브/DataSet/서울 생활이동/2023/생활이동_행정동_202312/
==============================================================
.csv, 생활이동_행정동_2023.12_05시.csv, 1127262
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_03시.csv, 814786
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_04시.csv, 746320
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_02시.csv, 1101159
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_01시.csv, 1701805
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_00시.csv, 2939750
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_07시.csv, 3522201
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_06시.csv, 2062970
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_10시.csv, 6629410
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_09시.csv, 6567879
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_08시.csv, 5932277
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_13시.csv, 8208641
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_12시.csv, 7872792
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_11시.csv, 7242954
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_16시.csv, 8666041
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_15시.csv, 8170022
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_14시.csv, 8041004
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_17시.csv, 9545969
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_18시.csv, 10264683
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_20시.csv, 7416844
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_19시.csv, 9389885
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_23시.csv, 4221506
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_22시.csv, 5782468
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']
==============================================================
.csv, 생활이동_행정동_2023.12_21시.csv, 6473856
['대상연월', '요일', '도착시간', '출발 행정동 코드', '도착 행정동 코드', '성별', '나이', '이동유형', '평균 이동 시간(분)', '이동인구(합)']

In [ ]:
path_sub = '서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/'
check_file(path_dateset, path_sub)

In [ ]:
# 서울시 따릉이 대여소별 대여/반납 승객수 정보
years = ['2021', '2022', '2023', '2024']

for year in years:
    path_sub = '서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/' + year + '/'
    try:
        print(path_sub)
        print('tpss_bcycl_od_statnhm_' + year)
        
        merge2_file(path_dateset, path_sub, 'tpss_bcycl_od_statnhm_' + year, '')
    except:
        print('Err : ', path_sub)

서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/
tpss_bcycl_od_statnhm_2021
path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/
==============================================================
.csv, tpss_bcycl_od_statnhm_202101.csv, 1593981
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
==============================================================
.csv, tpss_bcycl_od_statnhm_202102.csv, 2346092
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
==============================================================
.csv, tpss_bcycl_od_statnhm_202107.csv, 6540699
['기준_날짜', '구분코드', '기준_시간', '시작_대여소ID', '시작_대여소명', '종료_대여소ID', '종료_대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(m)']
Err :  서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2021/
서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2022/
tpss_bcycl_od_statnhm_2022
path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2022/
==============================================================
.csv, tpss_bcycl_od_statnhm_202201.csv, 2815540
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202202.csv, 2620303
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202203.csv, 4690021
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202204.csv, 7492277
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202205.csv, 9290634
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202206.csv, 8062041
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202207.csv, 7857162
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202208.csv, 6927711
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_2022011.csv, 7155606
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_2022012.csv, 3497167
['기준_날짜', '기준_시간대', '시작_대여소_ID', '종료_대여소_ID', '전체_건수', '전체_이용_분', '전체_이용_거리']
==============================================================
.csv, tpss_bcycl_od_statnhm_202209.csv, 9000570
['기준일자', '구분코드', '기준시간대', '시작대여소ID', '시작대여소명', '종료대여소ID', '종료대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(M)']
==============================================================
.csv, tpss_bcycl_od_statnhm_202210.csv, 8526666
['기준일자', '구분코드', '기준시간대', '시작대여소ID', '시작대여소명', '종료대여소ID', '종료대여소명', '전체건수', '전체이용시간(분)', '전체이용거리(M)']
Err :  서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2022/
서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2023/
tpss_bcycl_od_statnhm_2023
path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2023/
Err :  서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2023/
서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2024/
tpss_bcycl_od_statnhm_2024
path :  G:/내 드라이브/DataSet/서울시 따릉이 대여소별 대여 반납 승객수 정보/월 데이터 통합/2024/

---
### 대용량 파일 열기

#### 대용량 파일 열기 - ***pyarrow***

In [95]:
from pyarrow import csv
import time
#file_path = 'G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별).csv'
#file_path = path_dateset + path_sub + '서울특별시 공공자전거 대여소별 이용정보(시간대별)_2024' + '.CSV'
file_path = path_dateset + path_sub + '역별 일별 시간대별 승하차인원' + '.CSV'
start_time = time.time()  # 시작 시간 저장
pyarrow_df = csv.read_csv(file_path).to_pandas()

print("time :", time.time() - start_time) # 현재시간 - 시작시간

time : 1.8766942024230957

In [99]:
pyarrow_df.head()

,연번,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,1.0,2024-02-01,1호선,150,서울역,승차,316,511,1695,2766,...,3255,3667,6765,9441,4326,2925,2838,1848,849,117.0
1,2.0,2024-02-01,1호선,150,서울역,하차,252,1963,4684,10427,...,2396,2684,3040,3220,1861,1379,1176,886,354,129.0
2,3.0,2024-02-01,1호선,151,시청,승차,83,152,287,293,...,1766,1988,3839,7287,2672,2329,2353,1296,483,41.0
3,4.0,2024-02-01,1호선,151,시청,하차,189,902,3362,8938,...,906,815,920,1128,481,303,301,200,107,38.0
4,5.0,2024-02-01,1호선,152,종각,승차,127,148,231,359,...,2375,2747,6164,10258,4233,3736,3914,2937,1194,76.0

In [101]:
pyarrow_df.count()

연번               783490
날짜               985769
호선               985769
역번호              985769
역명               985769
구분               985769
06:00 이전         985769
06:00 ~ 07:00    985769
07:00 ~ 08:00    985769
08:00 ~ 09:00    985769
09:00 ~ 10:00    985769
10:00 ~ 11:00    985769
11:00 ~ 12:00    985769
12:00 ~ 13:00    985769
13:00 ~ 14:00    985769
14:00 ~ 15:00    985769
15:00 ~ 16:00    985769
16:00 ~ 17:00    985769
17:00 ~ 18:00    985769
18:00 ~ 19:00    985769
19:00 ~ 20:00    985769
20:00 ~ 21:00    985769
21:00 ~ 22:00    985769
22:00 ~ 23:00    985769
23:00 ~ 24:00    985769
24:00 이후         699051
dtype: int64

In [ ]:
def bigfile_read(file_path):
    import dask.dataframe as dd
    # file_path = 'G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별).csv'
    #file_path = 'G:/내 드라이브/DataSet/서울특별시 공공자전거 대여소별 이용정보(시간대별)/2020/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2020.CSV'
    
    start_time = time.time()  # 시작 시간 저장
    dask_df = dd.read_csv(file_path)
    
    print("time :", time.time() - start_time) # 현재시간 - 시작시간
    return dask_df

In [119]:
big_read = bigfile_read('G:/내 드라이브/DataSet/서울특별시 공공자전거 대여소별 이용정보(시간대별)/2020/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2020.CSV')

time : 0.0

In [123]:
big_read

Dask DataFrame Structure:
                  대여일자   대여시간  대여소번호    대여소명  대여구분코드       성별   연령대코드   이용건수      운동량      탄소량     이동거리   사용시간
npartitions=26
                string  int64  int64  string  string  float64  string  int64  float64  float64  float64  int64
                   ...    ...    ...     ...     ...      ...     ...    ...      ...      ...      ...    ...
...                ...    ...    ...     ...     ...      ...     ...    ...      ...      ...      ...    ...
                   ...    ...    ...     ...     ...      ...     ...    ...      ...      ...      ...    ...
                   ...    ...    ...     ...     ...      ...     ...    ...      ...      ...      ...    ...
Dask Name: read_csv, 1 expression
Expr=ReadCSV(9d4fb60)

In [125]:
import dask.dataframe as dd
# file_path = 'G:/내 드라이브/DataSet/서울특별시 공공자전거 이용정보(일별)/서울특별시 공공자전거 이용정보(일별).csv'
file_path = 'G:/내 드라이브/DataSet/서울특별시 공공자전거 대여소별 이용정보(시간대별)/2020/서울특별시 공공자전거 대여소별 이용정보(시간대별)_2020.CSV'

start_time = time.time()  # 시작 시간 저장
dask_df = dd.read_csv(file_path)

print("time :", time.time() - start_time) # 현재시간 - 시작시간

time : 0.0

In [107]:
dask_df.count()

Dask Series Structure:
npartitions=1
대여구분코드    int64
탄소량         ...
Dask Name: count, 2 expressions
Expr=ReadCSV(9d4fb60).count()