In [1]:
g_path = 'G:\\내 드라이브\\DataSet\\gis\\'

In [5]:
import pandas as pd
import folium
from folium.plugins import HeatMap

# 데이터 로드
df = pd.read_csv(g_path + '집계구별 직장인구.csv', encoding='cp949')

In [9]:
df

,집계구코드(oa_cd),공간정보(geom),년월(ym),총_직장인구수(tot_wrc_popltn_co),남성_직장인구수(male_wrc_popltn_co),여성_직장인구수(female_wrc_popltn_co),연령대10_직장인구수(agrde_10_wrc_popltn_co),연령대15_직장인구수(agrde_15_wrc_popltn_co),연령대20_직장인구수(agrde_20_wrc_popltn_co),연령대25_직장인구수(agrde_25_wrc_popltn_co),...,여성연령대20_직장인구수(female_agrde_20_wrc_popltn_co),여성연령대25_직장인구수(female_agrde_25_wrc_popltn_co),여성연령대30_직장인구수(female_agrde_30_wrc_popltn_co),여성연령대35_직장인구수(female_agrde_35_wrc_popltn_co),여성연령대40_직장인구수(female_agrde_40_wrc_popltn_co),여성연령대45_직장인구수(female_agrde_45_wrc_popltn_co),여성연령대50_직장인구수(female_agrde_50_wrc_popltn_co),여성연령대55_직장인구수(female_agrde_55_wrc_popltn_co),여성연령대60_직장인구수(female_agrde_60_wrc_popltn_co),적재일시(ldadng_dt)
0,1112060020003,M*L*I*O*Y*O*(*(*0*0*2*0*0*9*2*3*5*6*9*.*2*9*9*...,201612,5.99999,25.00001,18.36667,0,0.00000,0.00000,13.87900,...,2.00000,3.96774,2.00000,0.00000,0.46154,22.80488,4.39535,0.00000,12.55397,2017-12-28 10:10:43
1,1115052020013,M*L*I*O*Y*O*(*(*9*6*5*5*1*3*4*9*5*7*2*.*8*9*0*...,201612,429.99998,637.84400,75.23232,0,3.92308,10.76471,1.27273,...,3.20930,2.65385,13.51389,4.16667,0.82353,6.42857,0.00000,8.47059,1.89474,2017-12-28 10:10:43
2,1113065020002,M*L*I*O*Y*O*(*(*1*1*7*0*3*8*7*3*5*9*7*.*8*9*1*...,201612,395.01000,5.34377,6.00000,0,0.84716,0.00000,2.43243,...,7.18584,25.33649,0.00000,0.00000,30.43001,2.07143,13.50877,5.47297,75.54750,2017-12-28 10:10:43
3,1112056010014,M*L*I*O*Y*O*(*(*0*4*8*5*0*3*0*3*5*6*5*.*9*0*8*...,201612,6.99999,45.59604,101.50001,0,1.25112,5.71783,321.68517,...,0.54286,1.54605,2.90066,4.25000,5.30120,12.80102,12.46154,2.91803,0.00000,2017-12-28 10:10:43
4,1108065020006,M*L*I*O*Y*O*(*(*8*2*9*8*6*6*9*7*5*1*0*.*4*9*0*...,201612,15.00000,5.21053,7.36841,0,3.21666,1.20000,1.40000,...,0.00000,54.24747,0.00000,0.71111,13.26563,2.47967,5.03650,3.66667,0.00000,2017-12-28 10:10:43
5,1102058040003,M*L*I*O*Y*O*(*(*0*6*5*4*3*2*8*3*5*8*6*.*0*2*9*...,201612,13.99998,1.09091,300.83366,0,0.00000,9.77126,20.66397,...,7.00000,0.66667,6.57857,0.00000,0.00000,6.07692,0.00000,35.40609,4.65116,2017-12-28 10:10:43
6,1111066010004,M*L*I*O*Y*O*(*(*0*3*1*6*1*2*2*6*5*0*2*.*7*4*7*...,201612,16.00000,9.84210,3.75000,0,0.00000,0.00000,23.94192,...,0.00000,1.05000,10.10169,0.80328,0.82353,21.97959,14.25000,9.26829,4.20000,2017-12-28 10:10:43
7,1115057020001,M*L*I*O*Y*O*(*(*0*2*5*0*4*4*4*2*5*9*2*.*2*2*6*...,201612,0.00000,1509.64619,44.84849,0,0.00000,9.09652,3.63158,...,92.87894,2.61111,3.20000,1.33333,6.76596,5.16129,3.42857,0.00000,3.63158,2017-12-28 10:10:43
8,1107060020002,M*L*I*O*Y*O*(*(*9*9*7*5*9*8*1*7*5*6*8*.*3*0*0*...,201612,39.99999,10.32258,2.03921,0,0.00000,122.11681,34.33884,...,0.44231,7.14035,0.00000,6.46667,0.66667,2.02500,4.28571,123.62653,2.37500,2017-12-28 10:10:43
9,1106084010007,M*L*I*O*Y*O*(*(*9*8*0*5*6*4*7*7*5*9*3*.*9*6*3*...,201612,220.00001,4.48000,127.48224,0,0.00000,1.00000,0.00000,...,0.00000,0.00000,2.40000,0.00000,10.51982,12.06349,0.00000,6.90541,7.20000,2017-12-28 10:10:43
10,1123074010001,M*L*I*O*Y*O*(*(*0*9*8*3*9*3*9*1*5*2*1*.*0*9*0*...,201612,90.00001,1114.33763,151.96070,0,0.00000,0.00000,1.90909,...,10.72081,0.00000,1.25000,0.00000,3.45946,2.00000,0.00000,18.36967,4.12670,2017-12-28 10:10:43
11,1118051030007,M*L*I*O*Y*O*(*(*9*0*4*8*9*8*7*5*5*3*7*.*2*8*3*...,201612,38.99997,10.10527,20.00000,0,0.00000,0.00000,0.00000,...,0.00000,2.68966,1.82609,14.37701,4.31250,2.81818,1.73377,0.00000,89.98646,2017-12-28 10:10:43
12,1116055010002,M*L*I*O*Y*O*(*(*9*8*5*5*0*3*5*8*5*6*9*.*9*9*1*...,201612,171.00000,4.99999,852.47292,0,0.00000,0.00000,1.20000,...,2.23963,0.00000,0.73118,0.36364,0.00000,527.98143,0.00000,6.03593,0.00000,2017-12-28 10:10:43
13,1123059020003,M*L*I*O*Y*O*(*(*0*4*6*9*9*4*7*6*5*7*5*.*6*2*7*...,201612,72.00001,7.93103,102.22744,0,10.04762,11.76923,0.50000,...,18.21101,1.34783,3.23404,9.61224,0.22222,1.50000,9.85401,8.20000,0.00000,2017-12-28 10:10:43
14,1122060020903,M*L*I*O*Y*O*(*(*0*6*6*3*6*0*6*6*5*2*8*.*8*2*4*...,201612,38.00001,206.51267,2.00000,0,3.21519,4.34694,2.61538,...,0.00000,228.85828,0.38462,0.00000,0.90909,24.96000,2.82927,0.20455,0.00000,2017-12-28 10:10:43
15,1123079030103,M*L*I*O*Y*O*(*(*9*9*8*1*1*5*5*7*5*3*6*.*4*6*8*...,201612,3.00000,4.00000,167.80820,0,0.00000,42.25837,2.20690,...,7.57143,24.42105,1.62963,21.50251,0.00000,0.88889,0.13151,6.80488,2.46809,2017-12-28 10:10:43
16,1125065010006,M*L*I*O*Y*O*(*(*0*4*7*3*6*2*3*1*5*2*4*.*4*5*7*...,201612,13.00001,37.77050,18.83077,0,0.00000,0.09524,136.08841,...,0.00000,0.00000,0.00000,13.11957,4.22727,0.77419,3.36842,0.00000,14.22857,2017-12-28 10:10:43
17,1111052011103,M*L*I*O*Y*O*(*(*0*9*1*2*8*0*0*9*5*6*7*.*5*5*7*...,201612,144.00003,334.92205,29.86667,0,3.82118,6.88775,3.60000,...,0.00000,5.88095,0.71429,1.10000,1.38462,0.00000,36.28676,7.27586,7.26471,2017-12-28 10:10:43
18,1119071020004,M*L*I*O*Y*O*(*(*9*1*4*5*6*0*7*2*5*5*3*.*9*5*2*...,201612,16.00003,21.43294,154.43200,0,8.14797,8.39462,1.07500,...,2.77686,4.95238,42.16216,28.96119,1.00000,0.50000,0.00000,0.00000,0.81818,2017-12-28 10:10:43
19,1124063020001,M*L*I*O*Y*O*(*(*0*8*9*7*3*5*6*1*5*2*0*.*2*2*3*...,201612,390.00000,97.58063,5.00000,0,0.00000,1.00000,19.55340,...,0.84211,4.02560,4.36364,0.00000,0.89474,2.84211,0.94059,0.61538,0.00000,2017-12-28 10:10:43
20,1115061020011,M*L*I*O*Y*O*(*(*9*1*6*8*9*6*3*8*5*3*0*.*2*7*1*...,201612,175.99999,3.00000,27.61904,0,0.00000,4.66666,96.40682,...,0.00000,53.86273,9.20455,1.64286,0.00000,0.71429,7.94118,1.56164,45.42489,2017-12-28 10:10:43
21,1122066040001,M*L*I*O*Y*O*(*(*1*2*7*5*9*0*1* *4*9*8*1*8*7*4*...,201612,6.00000,6.41668,21.50000,0,0.00000,0.74074,0.00000,...,0.18750,0.00000,2.97143,0.00000,0.00000,12.55556,320.94915,0.00000,4.69565,2017-12-28 10:10:45
22,1115059030201,M*L*I*O*Y*O*(*(*8*3*7*6*0*0*9*7*5*3*1*.*4*2*2*...,201612,60.00000,30.32052,101.37600,0,14.60177,2.25000,12.93600,...,1.57143,16.00000,13.83871,0.00000,0.85714,0.71429,8.05660,0.00000,0.00000,2017-12-28 10:10:43
23,1110064010007,M*L*I*O*Y*O*(*(*0*0*1*9*2*3*5*2*5*8*3*.*9*3*2*...,201612,103.99999,40.00001,14.73334,0,0.00000,0.11642,1.63636,...,0.00000,1.43939,0.66667,17.81250,0.71429,0.00000,1.07692,1.17021,2.17582,2017-12-28 10:10:43
24,1123076030101,M*L*I*O*Y*O*(*(*0*1*7*1*5*8*5*5*5*0*3*.*5*1*7*...,201612,116.99999,24.68570,13.65853,0,0.00000,0.00000,1.31579,...,2.06422,2.85714,45.31166,0.56818,1.52941,0.85714,4.18705,0.68750,38.96274,2017-12-28 10:10:43
25,1117056020008,M*L*I*O*Y*O*(*(*0*6*1*8*6*1*7*7*5*1*0*.*9*3*8*...,201612,147.00002,14.36842,77.40000,0,0.00000,0.55556,3.79166,...,1.39583,21.40361,7.09200,30.74510,30.56805,5.22353,5.35484,23.42202,1.13889,2017-12-28 10:10:43
26,1113075040003,M*L*I*O*Y*O*(*(*8*8*0*9*1*5*1*8*5*0*8*.*6*9*9*...,201612,0.00000,213.33621,231.42858,0,0.00000,0.19355,1.41666,...,0.76923,0.00000,2.37037,0.39806,0.76923,0.00000,7.35912,0.00000,0.00000,2017-12-28 10:10:43
27,1113070030001,M*L*I*O*Y*O*(*(*8*1*3*9*8*9*6*9*5*4*3*.*9*9*2*...,201612,0.00000,217.36893,34.17141,0,0.00000,0.00000,0.81818,...,1.85185,0.83673,0.90909,0.00000,0.00000,1.37500,2.57143,1.22000,4.78528,2017-12-28 10:10:43
28,1111079050016,M*L*I*O*Y*O*(*(*9*1*2*8*6*0*5*2*5*4*5*.*3*1*3*...,201612,0.00000,10.76667,1.56604,0,0.00000,0.00000,0.00000,...,0.00000,1.22105,42.61224,9.24306,25.33926,1.96581,3.00000,0.00000,0.00000,2017-12-28 10:10:43
29,1121080020006,M*L*I*O*Y*O*(*(*0*8*8*0*8*4*4*6*5*8*0*.*4*2*3*...,201612,9.00000,80.33709,71.90729,0,2.12371,0.00000,1.87096,...,0.00000,1.38462,0.00000,0.00000,0.00000,0.00000,12.26708,0.07692,0.00000,2017-12-28 10:10:45

In [ ]:
# 위도, 경도, 직장인구수 추출
data = df[['위도', '경도', '직장인구수']].values.tolist()

# 서울 중심 좌표
seoul_center = [37.5665, 126.9780]

# 지도 생성
m = folium.Map(location=seoul_center, zoom_start=11)

# 히트맵 추가
HeatMap(data).add_to(m)

# 지도 저장
m.save('seoul_workplace_density.html')