In [2]:
import pandas as pd

# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
# 사용자 정의함수 불러오기

import time

import ExcelFile_Merge as em
import ExcelFile_Read as er
import ExcelFile_EDA as ee

### 생활이동_행정동_2020.01.csv 불러오기

In [4]:
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울 생활이동\\2020\\'
filename = '생활이동_행정동_2020.01'
path = filepath + filename + '.csv'
df_dask = er.Read_dask(path)
print("Read_dask time :", time.time() - start_time)

Read_dask time : 1.6750695705413818

In [6]:
from dask.diagnostics import ProgressBar
from time import sleep
pbar = ProgressBar()
pbar.register()

start_time = time.time()
df_dask_rtn = df_dask.compute()
print("compute time :", time.time() - start_time)

[########################################] | 100% Completed | 92.89 s
compute time : 93.53146457672119

In [8]:
df_dask_rtn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130620476 entries, 0 to 1406044
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   대상연월         int64
 1   요일           object
 2   도착시간         int64
 3   출발 행정동 코드    int64
 4   도착 행정동 코드    int64
 5   성별           object
 6   나이           int64
 7   이동유형         object
 8   평균 이동 시간(분)  int64
 9   이동인구(합)      object
dtypes: int64(6), object(4)
memory usage: 10.7+ GB

In [12]:
df_dask_rtn['대상연월'].value_counts()

대상연월
202001    130620476
Name: count, dtype: int64

In [14]:
df_dask_rtn['이동유형'].value_counts()

이동유형
EH    29027211
HE    26727404
EE    22857768
WH    16154567
HW    14779427
WE     9287776
EW     6496396
WW     2798070
HH     2491857
Name: count, dtype: int64

In [122]:
df_dask_rtn.isnull().sum()

대상연월           0
요일             0
도착시간           0
출발 행정동 코드      0
도착 행정동 코드      0
성별             0
나이             0
이동유형           0
평균 이동 시간(분)    0
이동인구(합)        0
dtype: int64

In [120]:
df_dask_rtn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130620476 entries, 0 to 1406044
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   대상연월         int64
 1   요일           object
 2   도착시간         int64
 3   출발 행정동 코드    int64
 4   도착 행정동 코드    int64
 5   성별           object
 6   나이           int64
 7   이동유형         object
 8   평균 이동 시간(분)  int64
 9   이동인구(합)      object
dtypes: int64(6), object(4)
memory usage: 10.7+ GB

---
### '이동유형' == 'WH' & '도착시간' [7, 8, 9] 인 데이터 조회

In [124]:
cond1 = df_dask_rtn['이동유형'] == 'WH'
cond2 = df_dask_rtn['도착시간'].isin([7, 8, 9])
df_출근 = df_dask_rtn[cond1 & cond2]

In [126]:
df_출근.info()

<class 'pandas.core.frame.DataFrame'>
Index: 340033 entries, 52431 to 1406688
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   대상연월         340033 non-null  int64
 1   요일           340033 non-null  object
 2   도착시간         340033 non-null  int64
 3   출발 행정동 코드    340033 non-null  int64
 4   도착 행정동 코드    340033 non-null  int64
 5   성별           340033 non-null  object
 6   나이           340033 non-null  int64
 7   이동유형         340033 non-null  object
 8   평균 이동 시간(분)  340033 non-null  int64
 9   이동인구(합)      340033 non-null  object
dtypes: int64(6), object(4)
memory usage: 28.5+ MB

---
### '이동인구(합)' 컬럼 float형으로 변경

In [130]:
df_출근.loc[df_출근['이동인구(합)'] == '*','이동인구(합)'] = '0'

In [132]:
df_출근 = df_출근.astype({ '이동인구(합)' : 'float' })

In [134]:
df_출근.head()

         대상연월 요일  도착시간  출발 행정동 코드  도착 행정동 코드 성별  나이 이동유형  평균 이동 시간(분)  이동인구(합)
52431  202001  일     7    1101053    1101053  F  35   WH           10     3.00
52439  202001  일     7    1101053    1101053  F  55   WH           20     3.23
52443  202001  일     7    1101053    1101053  F  65   WH           10     4.64
52455  202001  일     7    1101053    1101053  M  35   WH           30     0.00
52487  202001  일     7    1101053    1101058  M  70   WH           10     4.61

---
### 행정동 기준으로 '이동인구(합)'의 계 구함

In [136]:
grp_출근 = df_출근.groupby(['도착 행정동 코드'])['이동인구(합)'].sum().reset_index()

In [140]:
grp_출근.sort_values(by=['이동인구(합)'],ascending=False)

      도착 행정동 코드   이동인구(합)
428     1125061  10173.20
437     1125074   9196.58
420     1125051   7223.70
202     1112071   7019.00
355     1122053   6585.32
...         ...       ...
449     2302053      0.00
777     3107064      0.00
937     3119135      0.00
1055    3127037      0.00
546     2308055      0.00

[1089 rows x 2 columns]

In [171]:
grp_출근.rename(columns = {"도착 행정동 코드": "읍면동"}, inplace = True)

In [173]:
grp_출근.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   읍면동      1089 non-null   int64
 1   이동인구(합)  1089 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 17.1 KB

### 행정동 코드 가져오기

In [153]:
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울 생활이동\\'
filename = '서울생활이동데이터_행정동코드_20210907'
path = filepath + filename + '.csv'
df_dong = pd.read_csv(path, low_memory=False)
print("read_csv time :", time.time() - start_time)
df_dong.head()

read_csv time : 0.017641067504882812

      시도    시군구      읍면동 name      full_name
0  11000  11010  1101053  사직동  서울특별시 종로구 사직동
1  11000  11010  1101054  삼청동  서울특별시 종로구 삼청동
2  11000  11010  1101055  부암동  서울특별시 종로구 부암동
3  11000  11010  1101056  평창동  서울특별시 종로구 평창동
4  11000  11010  1101057  무악동  서울특별시 종로구 무악동

        시도    시군구      읍면동 name      full_name
188  11000  11120  1112071  진관동  서울특별시 은평구 진관동

---
### '읍면동' 코드 기준으로 조인

In [177]:
df_출근 = pd.merge(left = grp_출근 , right = df_dong, how = "left", on = "읍면동")

In [183]:
df_출근.sort_values(by=['이동인구(합)'],ascending=False).head(10)

         읍면동   이동인구(합)     시도    시군구  name       full_name
428  1125061  10173.20  11000  11250  천호1동  서울특별시 강동구 천호1동
437  1125074   9196.58  11000  11250    길동    서울특별시 강동구 길동
420  1125051   7223.70  11000  11250   강일동   서울특별시 강동구 강일동
202  1112071   7019.00  11000  11120   진관동   서울특별시 은평구 진관동
355  1122053   6585.32  11000  11220  서초3동  서울특별시 서초구 서초3동
284  1117068   6441.59  11000  11170  오류2동  서울특별시 구로구 오류2동
180  1111065   6064.33  11000  11110  상계1동  서울특별시 노원구 상계1동
435  1125072   5918.75  11000  11250  암사1동  서울특별시 강동구 암사1동
249  1115066   5628.42  11000  11150  신정3동  서울특별시 양천구 신정3동
429  1125063   5621.55  11000  11250  천호3동  서울특별시 강동구 천호3동

### 자치구 코드 가져오기

In [156]:
start_time = time.time()
filepath = 'G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울 생활이동\\'
filename = '서울생활이동데이터_자치구코드_20210907'
path = filepath + filename + '.csv'
df_gu = pd.read_csv(path, low_memory=False)
print("read_csv time :", time.time() - start_time)
df_gu.head()

read_csv time : 0.006981611251831055

      시도    시군구 name  full name
0  11000  11010  종로구  서울특별시 종로구
1  11000  11020   중구   서울특별시 중구
2  11000  11030  용산구  서울특별시 용산구
3  11000  11040  성동구  서울특별시 성동구
4  11000  11050  광진구  서울특별시 광진구