## 기본 라이브러리 불러오기

In [7]:
## 기본 라이브러리 불러오# 라이브러리 임포트
import os
import numpy as np
import pandas as pd
import chardet

# 사용자 정의함수 경로 설정
import sys
sys.path.append("G:/내 드라이브/Source/_Custom_Function")
# 사용자 정의함수 불러오기

import time

import ExcelFile_Merge as em
import ExcelFile_Read as er
import ExcelFile_EDA as ee기

In [9]:
default_path = 'G:\\내 드라이브\\DataSet\\_파킷 파일\\서울 생활이동\\'

In [19]:
start_time = time.time()
# _columns = ['자전거번호', '대여일자', '대여시간차', '대여대여소번호', '반납대여소번호']
df_PeopleMove_2020 = pd.read_parquet(default_path + '생활이동_행정동_출퇴근_2020.parquet')#, columns = _columns)
df_PeopleMove_2021 = pd.read_parquet(default_path + '생활이동_행정동_출퇴근_2021.parquet')#, columns = _columns)
df_PeopleMove_2022 = pd.read_parquet(default_path + '생활이동_행정동_출퇴근_2022.parquet')#, columns = _columns)
df_PeopleMove_2023 = pd.read_parquet(default_path + '생활이동_행정동_출퇴근_2023.parquet')#, columns = _columns)
df_PeopleMove_2024 = pd.read_parquet(default_path + '생활이동_행정동_출퇴근_2024.parquet')#, columns = _columns)
print("read_csv time :", time.time() - start_time)

read_csv time : 19.31453776359558

In [21]:
df_PeopleMove_2024.shape[0]

7540702

In [23]:
df_PeopleMove_2024.head()

     대상연월  출발 행정동 코드      읍면동 출퇴근  이동인구(합)     시도    시군구    시도명 시군구명 읍면동명
0  202409      21000  1101053  출근    27.16  11000  11010  서울특별시  종로구  사직동
1  202409      21000  1101053  퇴근    32.85  11000  11010  서울특별시  종로구  사직동
2  202409      21000  1101054  출근     6.05  11000  11010  서울특별시  종로구  삼청동
3  202409      21000  1101054  퇴근    16.70  11000  11010  서울특별시  종로구  삼청동
4  202409      21000  1101055  출근     3.13  11000  11010  서울특별시  종로구  부암동

In [25]:
start_time = time.time()
# _columns = ['자전거번호', '대여일자', '대여시간차', '대여대여소번호', '반납대여소번호']
df_PeopleMove_202401 = em.Read_File('G:\\내 드라이브\\DataSet\\_최종 병합 파일\\서울 생활이동\\2024\\생활이동_행정동_2024.01.csv')#, columns = _columns)
print("read_csv time :", time.time() - start_time)

read_file - file_path :  G:\내 드라이브\DataSet\_최종 병합 파일\서울 생활이동\2024\생활이동_행정동_2024.01.csv , encoding :  utf-8
read_csv time : 174.45397186279297

In [ ]:
df_PeopleMove_202401.shape[0]